/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

table
{
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 3px black;
  font-color: #333;
  margin-left: 200px; /* - moitié de la largeur */
  position: static;
  left: 50%;}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 20px;
}


thead th:nth-child(1) {
  width: 30%;
  background-color: #333;
  color: rgb(240, 236, 236);
}

thead th:nth-child(2) {
  width: 30%;
  background-color: #333;
  color: rgb(240, 236, 236);

}

thead th:nth-child(3) {
  width: 30%;
  background-color: #333;
  color: rgb(240, 236, 236);

}

thead th:nth-child(4) {
  width: 30%;
  background-color: #333;
  color: rgb(240, 236, 236);

}

thead th:nth-child(5) {
  width: 30%;
  background-color: #333;
  color: rgb(240, 236, 236);

}

tbody tr:nth-child(odd) {
  background-color: #f5f4f1;
  font-family: serif;
  padding: 20px;
  color: black;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f4f1;
  font-family: serif;
  padding: 20px;
  color: black;
  text-align: center;
}

form{
    position : center;
  margin-top: 500px;
  margin-left: 300px;
  margin-right: 25%;
  margin-bottom: 20px;
  padding: 25px 30px;
  font-size: 1.2em;
  
}

th.val{
  background-color: #397a12;
  color: #fff;
}
th.nv {
  background-color: #f31010;
  color: #fff;
}
th.okrecy{
  background-color: #da9619;
  color: #fff;
}
th.nonrecy {
  background-color: #ccc6b8;
  color: #333;
}
.bold{
  font-weight: bold;
}
.k{
  color: rgb(221, 10, 10);
  font-weight: bold;
}


.style {
    border-width: 0;background-color:#005A7B;color: #F2f2f2;
}


body {
  background: #f7f7f7;
  
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

footer{
background:#ccc;
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}

canvas {
        border: 3px solid #444;
      }
      .grid {
        float:left;
        width:500px;
        margin:0 10px;
        
        }
      .grid h1 {font-size:25px;text-align:center;}
      .grid p {text-align:left;}



/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}


h1 {
    text-align: center;
   color:red;
    
}

nav {
  background: #f7f7f7;
  height: 80px;
  width: 100%;
}

label.logo{
  color: #333;
  font-size: 55px;
  line-height: 80px;
  padding: initial;
  font-weight: bold;;
}
label.logo_img{
  margin-left : 10px;
  margin-right : 10px;
  position : inline;
}
ul {
  list-style-type: none;
  margin: 0;
  margin-top:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #dce0df;
  color: #333;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

h3 {
    font-size: 100px;
    text-align: center;
    color: #1b9bff;
    -webkit-text-stroke: 4px black;
}

h4 {
    text-align: center;
   font-size: 200px; 
   color:#1b9bff;
   -webkit-text-stroke: 4px black;
}

h1 {
    color: red;
}

.note{
    text-align: center;
    font-size : 25px;
    background-color: yellow;
} 
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
.wrapper{
  background: #fff;
  max-width: 450px;
  width: 100%;
  margin-left: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}
.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-left : 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form{
  margin: 20px 0;
  margin-top : 5px;
}
.form form .name-details{
  display: flex;
}
.form .name-details .field:first-child{
  margin-right: 10px;
}
.form .name-details .field:last-child{
  margin-left: 10px;
}
.form form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field label{
  margin-bottom: 2px;
}
.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input{
  outline: none;
}
.form form .image input{
  font-size: 17px;
}
.form form .button input{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
.form form .field i{
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field i.active::before{
  color: #333;
  content: "\f070";
}
.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a{
  color: #333;
}
.form .link a:hover{
  text-decoration: underline;
}