.Introduction {
    text-align:center;
    font-weight: bold;
margin-left: 10%;
margin-right: 10%;
  }
  .Utilisation{
    text-align:center;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
  }
  .Prise_En_Charge{
    text-align:center;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  div h1.couleur{
    color: #556b2f;
    font-size: 75px;
  }
  div h2.couleur2{
    color: #556b2f;
    font-size: 55px;
  }
  div p.introduction_text{
   font-weight: lighter;
     font-size: 18px;
     text-align: start;
  
  }
  p.introduction_h1{
    text-align:center;
    font-weight: bold;
    color: #544b2c;
    font-size: 45px;
  }
  p.introduction_h2{
    text-align:center;
    font-weight: bold;
    font-size: 30px;
      color: #544b2c;
    
  }
  k{
   font-weight: lighter;
   font-size: 12px;
   font-style: italic;
  
  }
  p.center{
    text-align:center;
        font-size: 18px;

  }
  hr {
      border: none;
      border-top: 3px double #333;
      color: #333;
      overflow: visible;
      text-align: center;
      height: 5px;
  }
  
  hr:after {
      background: #fff;
      content: '§';
      padding: 0 4px;
      position: relative;
      top: -13px;
  }